.MathRenPage {
	padding: 20px 0;
	@media @desktop-up {
		.container {
			max-width: 600px;
			margin: 0;
		}
	}

	.inlineDivLabel {
		display: inline-block;
		vertical-align: middle;
		width: 35%;
	}

	.inlineDivInput {
		display: inline-block;
		vertical-align: middle;
		width: 63%;
		margin-left: 2%;
	}

	iframe {
		border: none;
		width: 170px;
		height: 20px;
		overflow: hidden;
		margin: 0 auto;
	}

	i.fas {
		margin:5px;
	}
}
